{% extends "base.html" %}
{% block content %}

<div class="d-flex justify-content-between align-items-center mb-4">
    <h3 class="fw-bold">{{ investicija.naziv }}</h3>

    <div class="d-flex gap-2">
        <a href="{% url 'investicija_update' investicija.id %}"
           class="btn btn-outline-primary rounded-pill px-4">
            Uredi
        </a>
        <a href="{% url 'investicija_delete' investicija.id %}"
           class="btn btn-outline-danger rounded-pill px-4">
            Obriši
        </a>
    </div>
</div>

<div class="dashboard-card">
    <div class="row g-4">
        <div class="col-md-6">
            <strong>Iznos:</strong><br>
            {{ investicija.iznos|numfmt }} €
        </div>
        <div class="col-md-6">
            <strong>Datum:</strong><br>
            {{ investicija.datum }}
        </div>
    </div>
</div>

{% endblock %}
